@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-ps: "Press Start 2P";
}
